---
import Layout from '@/layouts/Layout.astro';

import NavBar from '@/components/NavBar'
import Hero from '@/sections/Hero.astro';
import Directory from '@/sections/Directory.astro';
import AboutUs from '@/sections/AboutUs.astro';
import Treatments from '@/sections/Treatments.astro'
import WhyChose from '@/sections/WhyChose.astro';
import PreFooter from '@/sections/PreFooter.astro';
import Footer from '@/sections/Footer.astro';
import LanguageSelector from '../LanguageSelector.astro';
import { getI18N } from '@/i18n';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import NavBarMobile from '../NavBarMobile';
// const { url, currentLocale } = Astro;

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const url = Astro.url
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

console.log('????????', url)
---

<Layout title="Welcome to Astro.">
	<div class="hidden sm:block">
		<NavBar client:only="react" currentLocale = {currentLocale} url={url}/>
	</div>
	<main class="relative ">
		<div class="hidden lg:block fixed right-5 top-7 z-[100]">
			<LanguageSelector/>
		</div>
		<a href={translatePath('/')} class="absolute top-3 left-5 filter z-[2] cursor-pointer sm:hidden lg:block">
			<img src="/logo_medicaBio.svg" class="w-52 cursor-pointers relative z-[80]" alt="" style={{filter: 'drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));'}} />
		</a>

		<NavBarMobile client:only="react" />
		<Hero/>
		<Directory/>
		<AboutUs/>
		<Treatments/>
		<WhyChose/>
		<PreFooter/>
		<Footer/>
		<!-- <img src="gout.svg" class="absolute w-[40rem] h-[80rem] opacity-25 top-[60rem] right-[-13.9rem] rotate-[9.4deg]" alt=""> -->

		<img src="/gout.svg" alt="" class="absolute top-[228rem] -z-[11] right-0 w-[66rem]">
		

	</main>
</Layout>


