---
import Layout from '@/layouts/Layout.astro';

import NavBar from '@/components/NavBar.astro';
import Hero from '@/sections/Hero.astro';
import Directory from '@/sections/Directory.astro';
import AboutUs from '@/sections/AboutUs.astro';
import Treatments from '@/sections/Treatments.astro'



---

<Layout title="Welcome to Astro.">
	<NavBar/>
	<main class="">
		<Hero/>
		<Directory/>
		<AboutUs/>
		<Treatments/>
		<!-- <img src="gout.svg" class="absolute w-[40rem] h-[80rem] opacity-25 top-[60rem] right-[-13.9rem] rotate-[9.4deg]" alt=""> -->

		

	</main>
</Layout>


