---
import Layout from '@/layouts/Layout.astro';

import NavBar from '@/components/NavBar'
import Hero from '@/sections/Hero.astro';
import Directory from '@/sections/Directory.astro';
import AboutUs from '@/sections/AboutUs.astro';
import Treatments from '@/sections/Treatments.astro'
import WhyChose from '@/sections/WhyChose.astro';
import PreFooter from '@/sections/PreFooter.astro';
import Footer from '@/sections/Footer.astro';
import LanguageSelector from '../LanguageSelector.astro';
const { url, currentLocale } = Astro;

---

<Layout title="Welcome to Astro.">
	<NavBar client:only />
	<main class="relative ">
		<div class="fixed right-5 top-3 z-[100]">
			<LanguageSelector/>
		</div>
		<a href="#" class="absolute top-3 left-5 filter">
			<img src="/logo_medicaBio.svg" class="w-52" alt="" style={{filter: 'drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));'}} />
		  </a>
		<Hero/>
		<Directory/>
		<AboutUs/>
		<Treatments/>
		<WhyChose/>
		<PreFooter/>
		<Footer/>
		<!-- <img src="gout.svg" class="absolute w-[40rem] h-[80rem] opacity-25 top-[60rem] right-[-13.9rem] rotate-[9.4deg]" alt=""> -->

		<img src="/gout.svg" alt="" class="absolute top-[228rem] -z-10 right-0 w-[66rem]">
		

	</main>
</Layout>


