---
import LanguageSelector from "@/components/LanguageSelector.astro";
import { getI18N } from "../i18n/"
import { getLangFromUrl, useTranslations, useTranslatedPath, } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

---
<header  class="fixed top-0 w-full py-4 flex items-center justify-center bg-transparent z-[100]">
    <section class="mx-5 text-secondary flex items-center w-full max-w-screen-xl justify-between xl:mx-0">
        
        <img src="/logo_medicaBio.svg" class="w-60 hidden sm:block" alt="">
        <img src="/logo_icon.svg" class="w-24 block sm:hidden" alt="">
        
        <nav class="hidden sm:flex flex-col items-center justify-center">
            <ul class="flex  font-medium gap-8 transition-all items-center duration-75 relative mr-4  ">
                <li class= "item_nav hover:text-black hover:font-medium transition-all duration-300 relative z-50">
                    <a aria-label="Enlace al incio de la página" href="/catalogo">Catálogo</a>
                </li>
            
                <li class= "hover:text-black hover:font-medium transition-all duration-300 relative z-50 bg-primary text-white px-5 py-1.5 rounded-lg cursor-pointer hover:bg-transparent">
                    <a aria-label="Enlace al incio de la página" href="#Contacto">Pide ahora</a>
                </li>
                <LanguageSelector />
            </ul>    
        </nav>
        
        <div class="sm:hidden">
            <LanguageSelector />
        </div>
        <div id="btnMenu" class="p-2 rounded-3xl cursor-pointer flex items-center h-fit visible sm:hidden text-primary">
            <?xml version="1.0" encoding="UTF-8"?><svg id="svg" width="27px" height="27px" stroke-width="2.3" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M3 5H11" stroke="currentColor" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H16" stroke="currentColor" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="currentColor" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <!-- <?xml id="svg" version="1.0" encoding="UTF-8"?><svg id="svg" width="27px" height="27px" stroke-width="2.3" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M3 5H11" stroke="currentColor" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H16" stroke="currentColor" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="currentColor" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path></svg> -->
            <!-- <svg  xmlns="http://www.w3.org/2000/svg" class="transition-all duration-500 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg> -->
        </div>
        <div id="Menu" class="active_menu transition-all  duration-[250ms] p-2 rounded-lg cursor-pointer absolute w-full left-0 -z-10 top-0 min-h-screen bg-[#1d1d1d] text-white flex items-center justify-center visible sm:hidden">
            <nav class="flex flex-col items-center justify-center">
                <ul class="flex flex-col font-medium gap-4 transition-all items-center duration-75 text-xl relative mr-4 hover:text-tertiary ">
                    <li class= "item_nav active-nav-item hover:text-black hover:font-medium transition-all duration-300 relative z-50 ">
                        <a aria-label="Enlace al incio de la página" href="/">Inico</a>
                    </li>
                    <li class= "item_nav hover:text-black hover:font-medium transition-all duration-300 relative z-50">
                        <a aria-label="Enlace al incio de la página" href="/nosotros">Nosotros</a>
                    </li>
                
                    <li class= "item_nav hover:text-black hover:font-medium transition-all duration-300 relative z-50 border-2 border-primary bg-primary px-3 py-1.5 rounded-lg cursor-pointer hover:bg-transparent">
                        <a aria-label="Enlace al whatsApp de Tigrillas" href="#Contacto">Entrenar ahora</a>
                    </li>
                </ul>    
            </nav>
            <div class="h-[22rem] w-[20rem] rounded-full blur-[180px] bg-primary absolute top-[-10rem] left-[-10rem] md:-right-56"></div>

        </div>
        

    </section>
</header>


<script is:inline >
    document.addEventListener('astro:page-load', () => {
        const btnMenu = document.getElementById('btnMenu')
        const Menu = document.getElementById('Menu')
        const SVG = document.getElementById('svg')
        const LOGO = document.getElementById('Logo')
        const navItems = document.querySelectorAll('.item_nav')
        
        btnMenu.addEventListener('click', ()=>{
            Menu.classList.toggle('active_menu');
            SVG.classList.toggle('active_svg');
            LOGO.classList.toggle('active_logo');
            if (Menu.classList.contains('active_menu')) {
                // Si el menú está abierto, elimina la clase 'active_logo'
                LOGO.classList.remove('active_logo');
            }
        })
        
        
        function linkAction(){
            
            
            // alert(2)
        }
    
        navItems.forEach(item => {
        item.addEventListener('click', () => {
            // Remueve la clase 'active-nav-item' de todos los elementos
            navItems.forEach(item => item.classList.remove('active-nav-item'));

            // Agrega la clase 'active-nav-item' al elemento en el que se hizo clic
            item.classList.add('active-nav-item');

            const Menu = document.getElementById('Menu');
            const SVG = document.getElementById('svg');
            Menu.classList.add('active_menu');
            SVG.classList.remove('active_svg');
            LOGO.classList.remove('active_logo');

        });
    });
    
    }, { once:true } );


</script>

<style>

    .active{
        font-weight: 800;
    }
    .active_menu{
        transform: translateY(-100%);
        overflow-y: hidden;
    }
    .active_svg{
        color: #e3601a;
    }
    .active_logo{
        color: #ffffff;
    }
    .active-nav-item {
        font-weight: 900;
    }
</style>