---
import CtaPrimary from "@/components/Cta_primary.astro"
import { getI18N } from "@/i18n/"
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@/i18n/utils"


const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

---

<section  class="bg_home  pt-40 pb-[22rem] bg-cover bg-top flex items-center justify-center rounded-br-[2.5rem] rounded-bl-[2.5rem] ">
    <div class="mx-5 max-w-screen-lg">
        <div class="flex flex-col gap-2 text-center items-center justify-center w-full  text-white separator">
            <strong class="font-intern font-medium text-sm">
                <span></span>
                {i18n.Home.HERO_SUBTITLE}
            </strong>
            <h1 class="text-4xl font-bold sm:max-w-[500px]">{i18n.Home.HERO_TITLE}</h1>
            <p class="text-sm mt-2 text-gray-300">
                {i18n.Home.HERO_PARAGRAPH}
            </p>
            <div class="flex flex-col gap-5 mt-10 sm:flex-row">
               <CtaPrimary color="#62B752"/>
                <a href={translatePath('/doctorRicardo/')} class="flex items-center text-center justify-center gap-3 border-secondary backdrop-blur-sm border-2 px-5 py-2.5 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="current" fill="none">
                        <path d="M4 22V21C4 19.1308 4 18.1962 4.40192 17.5C4.66523 17.0439 5.04394 16.6652 5.5 16.4019C6.19615 16 7.13077 16 9 16L12 20L15 16C16.8692 16 17.8038 16 18.5 16.4019C18.9561 16.6652 19.3348 17.0439 19.5981 17.5C20 18.1962 20 19.1308 20 21V22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.9374 7.99951L16.9552 3.86383C17.1882 2.9171 16.4833 2 15.5228 2H8.47724C7.51665 2 6.81182 2.9171 7.04482 3.86383L8.06263 7.99951M15.9374 7.99951V9.99951C15.9374 12.2087 14.1745 13.9995 12 13.9995C9.82545 13.9995 8.06263 12.2087 8.06263 9.99951V7.99951M15.9374 7.99951H8.06263" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.9998 4V5.99951M12.9995 4.99976L11 4.99976" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    {i18n.Home.HERO_CTA_SEC}
                    {t('nav.doctor')}
                </a>
            </div>
        </div>
    </div>
</section>

<style>
	.bg_home{
		background-image: linear-gradient(rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.5)), url(/home_bg.webp);
		background-color: black;
	}
</style>

<script>
   const sr = ScrollReveal({
        origin: "top",
        distance: "40px",
        duration: 2e3,
        delay: 400,
    });
    // ScrollReveal().reveal('.slide-up', slideUp);
    sr.reveal(".separator", { duration: "1200" })
</script>